@import "../../styles/App";

.form {
  background: url("../../media/images/planes.png") right bottom no-repeat;
  display: flex;
  flex: 1;
  flex-direction: column;
  &__title {
    margin-bottom: 50px;
  }
  input {
    background: #ffffff;
    border: 1px solid #9fa0a7;
    border-radius: 15px;
    padding: 18px 20px;
    width: 540px;
    margin-bottom: 20px;
    display: block;
  }
  .privacy {
    margin: 50px 0;
    max-width: 70%;
    a{
      color: $mainBtnColor;
    }
  }
  button {
    background-color: $secondaryBtnColor;
    width: 290px;
    &:hover{
      box-shadow: 0px 15px 30px rgba(218, 71, 25, 0.25);
    }
  }
}
