$mainBackgoundColor: #000;
$mainBtnColor: blue;
$accordionBtnColor: yellow;
$secondaryBtnColor: lightcoral;
$mainTextColor: rgb(151, 151, 151);
$secondaryTextColor: #033dfd;

// Default Font ===================================================================================================================
$fontFamily: "Rubik";
$fontSize: 20px;

// Widths ===================================================================================================================
$maxContWidth: 1400 + 30;

