// Default Font ===================================================================================================================
$fontFamily: "Rubik";
$fontSize: 20px;

// Widths ===================================================================================================================
$maxContWidth: 1400 + 30;

// colors ===================================================================================================================

$mainBackgoundColor: #FFFFFF;
$mainBtnColor: #14A76C;
$accordionBtnColor: #FF652F;
$secondaryBtnColor: #E02D05;
$mainTextColor: #1F1D2A;
$secondaryTextColor: #4F5569;