@import "../../styles/App";
.header {
	padding: 30px 0 90px;
	background: url('../../media/images/header-bg.png') right top no-repeat;
  &__body {
	max-width: 653px;
	margin-top: 248px;
  }
  &__subtitle {
    font-size: 15px;
    line-height: 166%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $secondaryTextColor;
  }
  &__title {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 55px;
    line-height: 122%;
  }
  &__text {
	margin: 40px 0px 60px 0px;
  }
  &__participate {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	.btn{
		width: 300px;
		background-color: $mainBtnColor;
		box-shadow: 0px 15px 30px rgba(25, 218, 140, 0.25);
	}
  }
}
